<!DOCTYPE html>
<html ng-app="TODOSocial" lang="en">
<head>

    <meta charset="UTF-8">
    <title>TODO Social</title>

    {% load static from staticfiles %}
    {% static "app/js/main.js" as main_js %}
    {% static "app/js/services.js" as services_js %}
    {% static "app/js/controllers.js" as controllers_js %}
    {% static "app/css/main.css" as main_css %}

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ main_css }}" rel="stylesheet">

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

    <script src="{{ services_js }}"></script>
    <script src="{{ controllers_js }}"></script>
    <script src="{{ main_js }}"></script>

</head>
<body>

    <div class="panel panel-primary main_panel">

        <div class="panel-heading todo_header"> <a href="#"> TODO Lists ({{ user.username}}) </a></div>

        <div ng-view class="panel-body todo_wrapper"></div>

    </div>
</body>
</html>