   <div class="panel panel-primary app_form_wrapper">
  <div class="panel-heading">Add a new Task</div>
  <div class="panel-body">

    <form name="taskForm" class="simple-form" novalidate>
        <fieldset class="form-group">
            <label for="description">Description</label> <br/>
            <textarea name="description" class="form-control" id="description" rows="2" ng-model="form_data.description" required></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label for="deadline">Deadline</label> <br/>
            <input type="datetime-local" id="deadline"  ng-model="form_data.deadline" />
        </fieldset>

        <input class="btn btn-success" type="submit" ng-disabled="taskForm.$invalid" ng-click="submit()" value="Done" />

    </form>

  </div>
</div>