<div class="panel panel-primary app_form_wrapper">
  <div class="panel-heading">Edit Task</div>
  <div class="panel-body">

    <form name="taskForm" class="simple-form" novalidate>
        <fieldset class="form-group">
            <label for="description">Description</label> <br/>
            <textarea name="description" class="form-control" id="description" rows="2"  ng-model="form_data.description" required></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label for="deadline">Deadline</label> <br/>
            <input type="datetime-local" id="deadline" ng-model="form_data.deadline" />
        </fieldset>

        <fieldset class="form-group">
            <label for="done">Done</label> <br/>
            <input ng-if="form_data.done == true" type="checkbox" id="done" checked="checked" ng-model="form_data.done" />
            <input ng-if="form_data.done == false" type="checkbox" id="done" ng-model="form_data.done" />
        </fieldset>

        <input class="btn btn-success" type="submit" ng-disabled="taskForm.$invalid" ng-click="submit()" value="Done" />
    </form>

    <div class="panel-body panel-success comments_panel">

        <div class="panel-heading">Comments</div>

        <ul class="panel-body list-group">

            <li class="list-group-item panel panel-default" ng_repeat="comment in form_data.comments">

                <div class="panel-body">{{comment.text}}</div>
                <div class="panel-footer">{{comment.author}}</div>

            </li>

            <li class="list-group-item">

                <a href="#add_comment/{{task_id}}" class="btn btn-primary">+comment</a>

            </li>

        </ul>

     </div>

</div>

  </div>
</div>